.con{
    background-color: rgb(94, 92, 92);
    height: 89.9vh;
    align-content: center;
    text-align: center;
    color: white;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.details img{
    height: 50px;
    width: 50px;
}
.aaa img{
    height: 30px;
    width: 50px;
}
.details{
    display: block;
    width: 0%;
    margin: auto;
    line-height: 19vh;
}
.a{
    width: 0%;
    display: flex;
    margin: auto;
    line-height: 4vh; 
}
.details h3{
    color: gold;
    align-self: center;
}

.aaa{
    width: 30%;
    display: flex;
    margin: auto;
    line-height: 1px;
}
.aa{
    width: 40%;
    display: flex;
    margin: auto;
    line-height: 4vh;
}

.aa h4{
    color: gold;
    padding-left: -40px;
    align-self: center;
}
h2{
    line-height: 20px;
    margin-bottom: 25px;
}
.aa img{
    margin-left: -120px;
}
.a{
    width: 0%;
    display: flex;
    margin: auto;
}

.a h4{
    color: gold;
    align-self: center;
    width: 100px;
}
.a img{
    margin-left: -50px;
}
.aaa{
    margin-left: -50px;
}
.footers{
    background-color: bisque;
    color: black;
    height: 40vh;
    padding-top: 30px;
    align-items: center;
    margin: auto;
    display: block;
    text-align: center;
    width: 100%;
}
.num{
    color: black;
}
.socials img{
    width: 80px;
    margin-right: 5px;
}
.ig img{
    width: 80px;
    margin-left: 19px;
}
.fb img{
    width: 50px;
    margin-bottom: 16px;
}
.footer h2{
    padding-top: 10px;
}
.socials{
    background-color: bisque;
    margin-top: -20px;
}
*{
    margin: 0;
    padding: 0;
    width: 100%;
}
.nav{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    height: 70px;
    width: 100%;
}
.list{
    display: flex;
    list-style: none;
}

 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.img img{
    height: 100px;
    width: 130px;
    margin-top: 10px;
}

.list img{
    margin-top: -3px;
    width: 25px;
}

/* .dropdown-content {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    border-radius: 15px;
    width: 63px;
}

.dropdown-content a {
    color: black;
    text-align: center;
    padding-bottom: 6px;
    padding-top: 6px;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: rgb(157, 157, 157);
    border-radius: 25px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown{
    margin-right: 30px;
} */
