*{
    margin: 0;
    padding: 0;
    width: 100%;
}
.nav{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    height: 70px;
    width: auto;
}
.list{
    display: flex;
    list-style: none;
    margin-top: 10px;
}

 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.img img{
    height: 100px;
    width: 130px;
    margin-top: 10px;
}

.list img{
    margin-top: -3px;
    width: 25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    border-radius: 15px;
    width: 63px;
}

.dropdown-content a {
    color: black;
    text-align: center;
    padding-bottom: 6px;
    padding-top: 6px;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: rgb(157, 157, 157);
    border-radius: 25px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown{
    margin-right: 30px;
}
